<div class="row">
	<p id="notice"><%= notice %></p>
</div>

<div class="container-fluid">
<div class="row-fluid">
<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>
</div>
<div class="row-fluid">
<p>
  <strong>Genres:</strong>
  <%= @author.genres %>
</p>
</div>

<div class="row-fluid">
<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %> | 
<%= link_to 'Books', books_path(@book) %> 
</div>
</div>
